
/*Universal*/

html {
	font-family: Helvetica, Sans-serif;
	font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
}

/*Header*/

header {
	position: fixed;
	z-index: 100;
    width: 100%;
    background-color: white;
}

header .nav-container {
	display: flex;
	align-items: center;
	height: 4rem;
	padding: 0 1.5rem;
}

.logo {
	display: flex;
	align-items: center;
}

header .logo {
	flex-grow: 1;
	height: 2rem;
}

header nav ul {
	display: flex;
}

nav li {
	padding-right: 1rem;
}

nav.mobile {
	display: none;
}

/*Banner*/

.banner-container {
	display: flex;
	align-items: center;
	background-color: #eeeeee;
	max-width: 100%;
}

.image-container {
	max-width: 60%;
	padding: 2rem 1.5rem;
}

.image-container img {
	width: 100%;
	height: auto;
}

.banner-info {
	padding-right: 1.5rem;
}

.banner-info h1 {
	margin-bottom: 1.5rem;
}

.banner-info h2 {
	margin-bottom: 1.5rem;
}

.banner-info .button {
	text-align: center;
	padding: 0.5rem 0;
	background-color: #757575;
	color: white;
}

/*Features*/

.features-container {
	display: flex;
	max-width: 100%;
}

.big-feature {
	width: 60%;
	padding: 2rem 1.5rem;
}

.big-feature img {
	max-width: 100%;
	height: auto;
	padding-bottom: 2rem;
}

.big-feature h1 {
	margin-bottom: 1.5rem;
}

.big-feature p {
	margin-bottom: 2rem;
}

.small-features {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	max-width: 40%;
}

.feature {
	display: flex;
	align-items: center;
	width: 100%;
}

.feature img {
	max-width: 35%%;
	height auto;
	padding: 1rem;
}

.feature-info {
	max-width: 65%;
}

.feature-info h2, p {
	margin-bottom: 0.5rem;
}




