/*Universal*/

html {
	font-family: Helvetica, Sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
}

.content.container {
	position: relative;
    top: 4rem;
    width: 100%;
}

/*Header*/

header {
	position: fixed;
	z-index: 100;
    width: 100%;
    background-color: white;
}

header .container {
	display: flex;
	align-items: center;
	height: 4rem;
	padding: 0 1.5rem;
}

.logo {
	display: flex;
	align-items: center;
	height: 2rem;
	flex-grow: 1;
}

nav ul {
	display: flex;
}

nav ul li {
	padding-left: 1rem;
}

nav.mobile{
	display: none;
}

/*Banner*/

.banner {
	display: flex;
	align-items: center;
	background-color: #eeeeee;
	width: 100%;
}

.banner .image {
	width: 60%;
	padding: 2rem 1.5rem;
}

.image img {
	display: block;
	width: 100%;
	height: auto;
}

.banner-copy {
	width: 40%;
	padding-right: 1.5rem;
}

.banner-copy h1 {
	padding-bottom: 1.5rem;
}

.banner-copy h2 {
	padding-bottom: 1.5rem;
}

.button {
	background-color: #757575;
	color: white;
	padding: 0.5rem 0;
	text-align: center;
}

/*Information*/

.information {
	display: flex;
}

.info-left {
	width: 60%;
	padding: 2rem 1.5rem;
}

.info-left img {
	width: 100%;
	height: auto;
	padding-bottom: 2rem;
}

.info-left h1 {
	padding-bottom: 1.5rem;
}

.info-right {
	width: 40%;
	padding: 2rem 1.5rem 2rem 0;
}

.info-small {
	display: flex;
	align-items: center;
}

.info-small img {
	width: 35%;
	height: auto;
	padding: 1rem;
}

.info {
	width: 65%;
}

.info h2 {
	padding-bottom: 0.5rem;
}

.info p {
	padding-bottom: 0.5rem;
}

.link {
	color: blue;
}

/*Classes*/

.learn {
	max-width: 100%;
	padding: 2rem 4.5rem; 
	background-color: #eeeeee;
}

.learn h1 {
	text-align: center;
	padding-bottom: 2rem;
}

.classes {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.class {
	background-color: white;
	width: 30%;
	margin-bottom: 2rem;
	margin-right: 2rem;
}

.class .image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

.class .image img {
/*	height: auto;*/
}

.class-info {
	padding: 16px 16px 24px 16px;
}

.class h2 {
	padding-bottom: 0.5rem;
}

.course {
	padding-bottom: 0.5rem;
}

/*Thesis*/
















